<main class="container administration-panel">
    <h1><%= pageTitle %></h1>
    <div class="container-buttons">
        <a href="/new-party" class="btn btn-blue">New Party</a>
        <a href="/new-group" class="btn btn-yellow">New Group</a>
        <a href="/edit-profile" class="btn btn-pink">Edit Profile</a>
        <a href="/profile-picture" class="btn btn-green">Profile Picture</a>
        <a href="/change-password" class="btn btn-lake">Change Password</a>
    </div>

    <div class="section-admin">
        <h2 class="neon-pink">Upcoming Parties</h2>
        <% if( party.length > 0) { %>
        <ul>
            <% party.forEach(py => { %>
            <li>
                <div class="info-admin">
                    <p class="date"><%= moment(py.date).format('LL');%> At <%= py.hour %></p>
                    <a href="/party/<%= py.slug %>" target="_blank">
                        <h3><%= py.title %></h3>
                    </a>
                    <small><%= py.interested.length %> Interested</small>
                </div>
                <div class="actions container-buttons">
                    <a href="/edit-party/<%= py.id %>" class="btn btn-purple">Edit</a>
                    <a href="/party-image/<%= py.id %>" class="btn btn-blue">Picture</a>
                    <a href="/party-attendance/<%= py.id %>" class="btn btn-yellow">Attendees</a>
                    <a href="/delete-party/<%= py.id %>" class="btn btn-red">Delete</a>
                </div>
            </li>
            <% });  %>
        </ul>
        <% } else { %>
            <p class="groups-p">You haven't created any parties yet.</p>
        <% }; %>
    </div>

    <div class="section-admin">
        <h2>Your Groups</h2>
        <% if(groups.length){ %>
        <ul>
            <% groups.forEach(group => { %>

                <li class="container-buttons">
                    <div class="info-admin">
                        <h3><%= group.name %></h3>
                    </div>
                    <div class="actions container-buttons">
                        <a href="/edit-group/<%= group.id %>" class="btn btn-purple">Edit</a>
                        <a href="/group-image/<%= group.id %>" class="btn btn-orange">Picture</a>
                        <a href="/delete-group/<%= group.id %>" class="btn btn-red">Delete</a>
                    </div>
                </li>
            <% }); %>
        </ul>
        <% } else  { %>
            <p class="groups-p">You haven't created groups yet.</p>
        <% } %>
    </div>

    <div class="section-admin">
        <h2>Previous Parties</h2>
        <% if( previous.length > 0) { %>
        <ul>
            <% previous.forEach(py => { %>
            <li>
                <div class="info-admin">
                    <p class="date"><%= moment(py.date).format('LL');%> At <%= py.hour %></p>

                    <h3><%= py.title %></h3>
                    <small><%= py.interested.length %> Interested</small>
                </div>
                <div class="actions container-buttons">
                    <a href="/edit-party/<%= py.id %>" class="btn btn-purple">Edit</a>
                    <a href="/party-attendance/<%= py.id %>" class="btn btn-orange">Attendees</a>
                    <a href="/delete-party/<%= py.id %>" class="btn btn-red">Delete</a>
                </div>
            </li>
            <% });  %>
        </ul>
        <% } else { %>
            <p class="groups-p">There are no previous parties.</p>
        <% }; %>
    </div>
</main>