<div class="container">
    <h1><%= pageTitle %></h1>
    <% if (parties.length > 0 ) { %>
        <div class="container grid columns-md-3">
            <% parties.forEach(party => { %>
                <div class="card">
                    <% if(party.image){ %>
                        <img src="/uploads/parties/<%= party.image %>" alt="Party Image">
                    <% } else { %>
                        <img src="/img/partyseekerblacklogo.png" alt="PartySeeker Black Logo">
                    <% } %>
                    <div class="card-text">
                        <% moment.locale('en') %>
                        <% const date = `${party.date} ${party.hour}`%>
                        <p class="date"><%= moment(date).format('LLLL')%></p>
                        <p class="from-now"><%= moment(date).fromNow()%></p>
                        <a href="/party/<%= party.slug %>">
                            <h3><%= party.title %></h3>
                        </a>
                        <div class="info-author">
                            <div class="information">
                                <p>Organized by:</p>
                                <p class="author"><%= party.user.name %></p>
                            </div>
                            <% if(party.user.image){ %>
                                <div class="image">
                                    <img src="/uploads/profiles/<%= party.user.image %>" alt="Profile Picture of <%= party.user.name %>">
                                </div>
                            <% } else { %>
                                <div class="image">
                                    <img src="/img/pinkandyellow.png" alt="Pink and Yellow PartySeeker Letters">
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div><!--grid-->
    <% } else { %>
        <p class="category-party">There are no parties in this category yet</p>
    <% } %>
</div>