<div class="hero">
    <h1>Find or create a party to have fun with whoever you want!</h1>
    <a href="/signup"><button class="btn glow-on-hover">Sign up</button></a>
</div>

<div class="container seeker-start">
    <div class="container">
        <h2>Search a party in your city</h2>
        <form action="/seeker" method="GET">
            <input type="text" name="title" placeholder="Party title">
            <input type="text" name="city" placeholder="City">
            <select name="country" id="">
                <option value="" selected> -Country- </option>
                <option value="Antarctica">Antarctica</option>
                <option value="Argentina">Argentina</option>
                <option value="Austria">Austria</option>
                <option value="Australia">Australia</option>
                <option value="Belgium">Belgium</option>
                <option value="Bhutan">Bhutan</option>
                <option value="Brazil">Brazil</option>
                <option value="Canada">Canada</option>
                <option value="Chile">Chile</option>
                <option value="China">China</option>
                <option value="Croatia">Croatia</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="Greece">Greece</option>
                <option value="Iceland">Iceland</option>
                <option value="India">India</option>
                <option value="Italia">Italia</option>
                <option value="Japan">Japan</option>
                <option value="Korea">Korea</option>
                <option value="Luxembourg">Luxembourg</option>
                <option value="Madagascar">Madagascar</option>
                <option value="Mexico">Mexico</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Norway">Norway</option>
                <option value="Russia">Russia</option>
                <option value="Spain">Spain</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Thailand">Thailand</option>
                <option value="Ukraine">Ukraine</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States">United States</option>
                <option value="Vietnam">Vietnam</option>
            </select>
            <select name="category">
                    <option value="" selected> -Category- </option>
                    <% categories.forEach( category => { %>
                        <option value="<%= category.id %>" <%= (category.categoryId === category.id) ? "selected" : '' %>
                        ><%= category.name %>
                        </option>
                    <% });%>
            </select>
            <input type="submit" value="search" class="search-party btn btn-green">
        </form>
    </div>
</div>

<div class="container">
    <h2 class="neon-pink">Upcoming Parties</h2>
    <div class="grid columns-md-3 ">
        <% if(parties.length > 0) {  %>
            <% parties.forEach((party) => { %>
                <div class="card">
                    <% if(party.image){ %>
                        <img src="/uploads/parties/<%= party.image %>" alt="Party Image">
                    <% } else { %>
                        <img src="/img/partyseekerblacklogo.png" alt="PartySeeker Parties Black Logo">
                    <% } %>
                    <div class="card-text">
                        <% moment.locale('en') %>
                        <% const date = `${party.date} ${party.hour}`%>
                        <p class="date"><%= moment(date).format('LLLL')%></p>
                        <p class="from-now"><%= moment(date).fromNow()%></p>
                        <a href="/party/<%= party.slug %>">
                            <h3><%= party.title %></h3>
                        </a>
                        <div class="info-author">
                            <div class="information">
                                <p>Organized by:</p>
                                <p class="author"><%= party.user.name %></p>
                            </div>
                            <% if(party.user.image){ %>
                                <div class="image">
                                    <img src="/uploads/profiles/<%= party.user.image %>" alt="Profile Picture of <%= party.user.name %>">
                                </div>
                            <% } else { %>
                                <div class="image">
                                    <img src="/img/pinkandgreenprofilelogo.png" alt="Partyseeker Default Profile Picture">
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>

<main class="bg-grey categories">
    <h2>Find parties by category</h2>

    <div class="container">
        <ul class="list-categories  grid columns-2 columns-md-3">
            <% categories.forEach( category => { %>
            <li>
                <a href="/category/<%= category.slug %>">
                    <img src="/img/category_<%= category.id %>.jpg" alt="Party category: <%= category.name %>">
                    <p><%= category.name %></p>
                </a>
            </li>
            <% });%>
        </ul>
    </div>
</main>

<div class="section-info partyseeker-bg">
    <div class="container partyseeker grid columns-md-2">
            <section class="section-1">
                <h3>Create a party</h3>
                <p>If you want to have a lot of fun, feel free to make it happen!</p>
                <!-- <svg id="pug"></svg> -->
            </section>
            <section class="section-2">
                <h3>Join a group</h3>
                <p>Meet people with your same hobbies and passions, join an existing group and receive notifications about upcoming events</p>
                <!-- <svg id="cat"></svg> -->
            </section>
        </div>
    </div>
</div>
