<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comme:wght@200;300;400;700&family=Leckerli+One&family=Mogra&family=Poltawski+Nowy&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <title>PartySeeker - <%-pageTitle%></title>
</head>
<body>
    <header class="container site-header">
        <a  class="header-logo" href="/">
            <img src="/img/PartySeeker.png" alt="Logo PartySeeker">
        </a>

        <nav class="nav">
            <a href="#">MakeGroup</a>
            <a href="/login">LogIn</a>
            <a href="/signup">SignUp</a>
        </nav>
    </header>
    <% if(locals.messages){ %>
        <% const category = Object.keys(locals.messages) %>
        <% if(category.length){  %>
            <% locals.messages[category].forEach(alert => { %>
                <div class="alerts">
                    <p class="alert <%= category %>"><%= alert %></p>
                </div>
            <% }) %>
        <% } %>
    <% } %>


    <%-body%>
    <footer class="container site-footer">
        <img class="ps-logo" src="/img/PartySeekerYP.png" alt="Copyright Logo">
        <nav class="nav">
            <a href="#">MakeGroup</a>
            <a href="/login">LogIn</a>
            <a href="/signup">SignUp</a>
            <p class="copyright">All rights reserved. PartySeeker <%- year %> &copy;</p>
        </nav>
    </footer>


</body>
</html>