<main class="container forms-container">
    <h1><%- pageTitle %></h1>
    <form class="default-form new-party" action="/new-party" method="POST" enctype="multipart/form-data">
        <legend>About the party</legend>
        <div class="field">
            <label>Title<span>&#42;</span></label>
            <input type="text" name="title" placeholder="Party Title" maxlength="32">
        </div>
        <div class="field">
            <label>Category</label>
            <select name="categoryId">
                <option value="" selected disabled hidden>
                    -- Select Category --
                </option>
                <% categories.forEach( category => { %>
                    <option value="<%= category.id %>">
                    <%= category.name %>
                    </option>
                <% });%>
            </select>
        </div>
        <div class="field">
            <label>Host</label>
            <input type="text" name="host" placeholder="Host Name" maxlength="32">
        </div>
        <div class="field">
            <label>Website</label>
            <input type="url" name="url" placeholder="Url">
        </div>
        <div class="field">
            <label>Group</label>
            <select name="groupId">
                <option value="" disabled selected>-- Select Group --</option>
                <% if(groups.length > 0){ %>
                    <% groups.forEach(group => { %>
                        <option value="<%= group.id %>"><%= group.name %></option>
                    <% }) %>
                <% } %>
            </select>
        </div>
        <div class="columns-2 grid">
            <div class="field">
                <label>Date<span>&#42;</span></label>
                <input type="date" name="date" placeholder="Party date">
            </div>
            <div class="field">
                <label>Hour<span>&#42;</span></label>
                <input type="time" name="hour" placeholder="Party time">
            </div>
        </div>
        <div class="field">
            <label>Attendance</label>
            <input type="number" min="1" name="attendance" placeholder="Maximum guests allowed">
        </div>
        <div class="field description">
            <label>Description<span>&#42;</span></label>
            <div class="container-editor">
                <input type="hidden" id="x" name="description">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>
        <div class="img-btn" >
            <label>Picture</label>
            <input type="file" name="image">
        </div>
        <legend>Party Location</legend>

        <div class="field">
            <label>Party Location</label>
            <input type="text" id="seeker-input" placeholder="Location">
        </div>

        <div class="container map">
            <div id="map"></div>
            <p class="information">Place the marker at the location of the party if necessary.</p>
        </div>

        <p class="information">Confirm that the following fields are correct:</p>
        <div class="field">
            <label>Address<span>&#42;</span></label>
            <input type="text" id="address" name="address" placeholder="Address">
        </div>
        <div class="field">
            <label>City<span>&#42;</span></label>
            <input type="text" id="city" name="city" placeholder="City">
        </div>
        <div class="field">
            <label>State<span>&#42;</span></label>
            <input type="text" id="state" name="state" placeholder="State">
        </div>
        <div class="field">
            <label>Country<span>&#42;</span></label>
            <input type="text" id="country" name="country" placeholder="Country">
        </div>
            <input type="hidden" id="lat" name="lat">
            <input type="hidden" id="lng" name="lng">
        <div class="fiel required-field">
        <p><span>&#42;</span> Indicates a required field</p>
        </div>
        <div class="field send">
            <input type="submit" class="btn btn-green" value="New Party">
        </div>
    </form>
</main>