<div class="party-header">
    <div class="container">
        <!-- Party summary -->
        <div class="party-summary">
            <!-- <%= JSON.stringify(party)  %> -->
            <h1><%= party.title %></h1>
            <div class="info-author">
                <div class="image party-author-img">
                    <% if(party.user.image) { %>
                    <img src="/uploads/profiles/<%= party.user.image %>" alt="User picture">
                    <% } else { %>
                        <img src="/img/pinkandgreenprofilelogo.png" alt="Partyseeker Default Profile Picture">
                    <% } %>
                </div>
                <!-- info author -->
                <div class="info">
                    <p>
                        Organized by:
                    </p>
                    <p class="author">
                        <a href="/users/<%= party.user.id %>"><%= party.user.name %></a>
                        <% if(party.group?.name) {%>
                        <p>Creator of: </p>
                        <a href="/groups/<%= party.group?.id %>"><%= party.group?.name %></a>
                        <% } %>
                    </p>
                </div>
            </div>
        </div>

        <div class="attendance-question">
            <% if(user.id){ %>
                <% const exist = party.interested.includes(user.id); %>
            <form action="/confirm-assistance/<%= party.slug %>" id="confirm-assistance">
                <p>Will you attend?</p>
                <% if(exist){ %>
                    <input type="hidden" id="check" value="cancel">
                    <input type="submit" class="btn btn-red" value="Nope"></input>
                <% } else { %>
                    <input type="hidden" id="check" value="confirm">
                <input type="submit" class="btn btn-blue" value="Yeah"></input>
                <% } %>
                <div id="message"></div>
            </form>
            <!-- <a href="#" class="btn btn-blue">Yes</a> -->
            <% } else { %>
                <p class="sign-in-to-confirm">Sign in to confirm your attendance</p>
            <% } %>
        </div>
    </div>
</div>
<main class="party-content">
    <div class="container party-container">
        <!-- Party Info -->
        <div class="party-info">
            <div class="description">
                <!-- Party Picture -->
                <% if(party.image){ %>
                    <img src="/uploads/parties/<%= party.image %>" alt="Party Image">
                <% } else { %>
                    <img src="/img/partyseekerblacklogo.png" alt="PartySeeker Parties Black Logo">
                <% } %>
                <!-- Description -->
                <div class="text">
                    <%- party.description %>
                </div>
            </div>
            <!-- Assistants -->
            <div class="assistants">
                <div class="title">
                    <h3><%= party.interested.length %> Assistants</h3>
                    <a href="/assistants/<%= party.slug %>">See all</a>
                </div>
            </div>
            <!-- Comments -->
            <div class="comments">
                <h2>Comments</h2>
                <% if(comments.length > 0){ %>
                    <% comments.forEach(comment => { %>
                    <!--  <%= JSON.stringify(comment) %> -->
                    <div class="comment">
                        <div class="comment-image">
                            <% if(comment.user.image){ %>
                                <img src="/uploads/profiles/<%= comment.user.image %>" alt="Profile Picture">
                            <% } else { %>
                                <img src="/img/pinkandgreenprofilelogo.png" alt="Partyseeker Default Profile Picture">
                            <% } %>
                        </div>
                        <div class="text">
                            <p>Written by:
                                <a href="/users/<%= comment.user.id %>">
                                    <%= comment.user.name %>
                                </a>
                            </p>
                            <p><%= comment.message %></p>
                            <% if(comment.userId === user.id || party.userId === user.id) { %>
                                <form action="/delete-comment" method="POST" class="delete-comment">
                                    <input type="hidden" name="commentId" value="<%= comment.id %>">
                                    <input type="submit" value="Delete" class="btn btn-red delete-comment-btn">
                                </form>
                            <% } %>
                        </div>
                    </div>
                    <% }); %>
                <% } else { %>
                    <p class="no-comments-msg">There are no comments yet.</p>
                <% }; %>
                <!-- Comments Form -->
                <% if(user.id){ %>
                <form action="/party/<%= party.id %>" method="POST" class="default-form comments">
                    <legend>Add a comment</legend>
                    <div class="field">
                        <label for="comment">Comment</label>
                        <textarea name="comment" id="comment"></textarea>
                    </div>
                    <div class="field send">
                        <input type="submit" value="Send" class="btn btn-send btn-lake">
                    </div>
                </form>
                <% } else { %>
                    <a href="/login"><p class="sign-in-to-comment">Log in to add a comment</p></a>
                <% } %>
            </div>

        </div>
        <aside class="date-location-info">
            <div class="date">
                <% moment.locale('en') %>
                        <% const date = `${party.date} ${party.hour}`%>
                        <p class="date"><%= moment(date).format('LLLL')%></p>
                        <p class="from-now"><%= moment(date).fromNow()%></p>
            </div>
            <div class="location">
                <p><%= party.address %>, <%= party.city %>,</p>
                <p><%= party.state %>, <%= party.country %></p>
            </div>
            <!-- Location Map -->
            <input type="hidden" name="" id="lat" value="<%- party.location.coordinates[0] %>">
            <input type="hidden" name="" id="lng" value="<%- party.location.coordinates[1] %>">
            <input type="hidden" name="" id="address" value="<%- party.address %>">
            <div id="party-location"></div>
        </aside>
    </div>
</main>
<h2 class="bnw-text">Nearby Parties</h2>
<div class="container nearby">
    <% if(nearbyParties.length > 0){ %>
        <% nearbyParties.forEach(party => { %>
            <div class="card">
                <% if(party.image){ %>
                    <img src="/uploads/parties/<%= party.image %>" alt="Party Image">
                <% } else { %>
                    <img src="/img/partyseekerblacklogo.png" alt="PartySeeker Parties Black Logo">
                <% } %>
                <div class="card-text">
                    <% moment.locale('en') %>
                    <% const date = `${party.date} ${party.hour}`%>
                    <p class="date"><%= moment(date).format('LLLL')%></p>
                    <p class="from-now"><%= moment(date).fromNow()%></p>
                    <a href="/party/<%= party.slug %>">
                        <h3><%= party.title %></h3>
                    </a>
                    <div class="info-author">
                        <div class="information">
                            <p>Organized by:</p>
                            <p class="author"><%= party.user.name %></p>
                        </div>
                        <% if(party.user.image){ %>
                            <div class="image">
                                <img src="/uploads/profiles/<%= party.user.image %>" alt="Profile Picture of <%= party.user.name %>">
                            </div>
                        <% } else { %>
                            <div class="image">
                                <img src="/img/pinkandgreenprofilelogo.png" alt="Partyseeker Default Profile Picture">
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <p>There are no parties nearby.</p>
    <% } %>
</div>
