<div class="container">
    <h1><%= pageTitle %></h1>
    <div class="group-info">
        <div class="image">
            <% if(group.image){ %>
                <img src="/uploads/groups/<%= group.image %>" alt="Group Image"/>
            <% } else { %>
                <img src="/img/vintageblack.png" alt="Vintage PartySeeker Black Logo">
            <% } %>
        </div>
        <div class="text">
            <%- group.description %>
            <% if(group.url){ %>
            <a class="url" target="_blank" href="<%- group.url %>"><%= group.url %></a>
            <% } %>

            <% if(parties.length > 0){ %>
                <ul class="parties-list">
                    <% parties.forEach(party => { %>
                        <li>
                            <div class="text">
                                <a href="/party/<%= party.slug %>">
                                    <h3><%= party.title %></h3>
                                </a>
                            </div>
                            <div class="image">
                                <% if(party.image){ %>
                                    <img src="/uploads/parties/<%= party.image %>" alt="Party Image">
                                <% } else { %>
                                    <img src="/img/partyseekerblacklogo.png" alt="PartySeeker Black Logo">
                                <% } %>
                            </div>
                            <div class="date">
                                <% moment.locale('en') %>
                                        <% const date = `${party.date} ${party.hour}`%>
                                        <p class="date"><%= moment(date).format('LLLL')%></p>
                                        <p class="from-now"><%= moment(date).fromNow()%></p>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </div>
    </div>
</div>